<div *ngIf="currentRootFolder">
    <h1 mat-dialog-title>Save As</h1>
    <mat-dialog-content>
        <ul>
            <li *ngIf="currentRootFolder.parent">
                <button mat-button (dblclick)="onDoubleClick(currentRootFolder.parent)">
                    <mat-icon>folder</mat-icon>
                    <span>
                        ..
                    </span>
                </button>
            </li>
            <li *ngFor="let node of currentRootFolder.children">
                <button mat-button (click)="onClick(node)" (dblclick)="onDoubleClick(node)">
                    <mat-icon style="padding: 0px;">
                        {{ isFolder(node) ? 'folder': ''}}
                    </mat-icon>
                    <span>
                        {{node.name}}
                    </span>
                </button>
            </li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Select</button>
        <button mat-button [mat-dialog-close]="undefined">Cancel</button>
    </mat-dialog-actions>

</div>