<div *ngIf="currentRootFolder">
    <h1 mat-dialog-title></h1>
    <mat-dialog-content>
        <ul *ngFor="let node of currentRootFolder.children">
            <li>
                <a (click)="onClick(node)" (dblclick)="onDoubleClick(node)">
                    {{node.name}}
                </a>
            </li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Select</button>
        <button mat-button [mat-dialog-close]="undefined">Cancel</button>
    </mat-dialog-actions>

</div>